body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    background-color: #f2f2f2;
  }
 /* main{
 background-color: rgb(12, 5, 24);
 } */


  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }

.apresentação{
    padding-top: 10vh;
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: space-between;
    color: white;
}

.texto_apresentacao{
    justify-content: center;
    align-self: center;
    align-items: center;
    display: flex;
}

 .sobre_mim{
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
    /* padding-left: 25%;
    padding-right: 25%; */
    color: white;
 }

 .minha_foto img{
    border-radius: 50%;
    border: 1px;
 }

.texto_sobre_mim{
    align-items: center;
    justify-content: center;
 } 
 main{
    background-color: #303030;
    padding: 0px;
    margin: 0px;
    display: grid;
    place-items: center;
 } 

 .box{
    position: relative;
    width: 500px;
    height:400px;
    border-radius: 20px;
    display: grid;
    place-items: center;
    overflow: hidden;
 }

 .box::before{
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    background-image: conic-gradient(transparent, transparent, #00ffad);
    animation:rotate 4s linear infinite;
 }

 .box::after{
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    background-image: conic-gradient(transparent, transparent, #00ccff);
    animation:rotate 4s linear infinite;
    animation-delay:-2s
 }

 .box span{
    position: relative;
    inset: 5px;
    border-radius: 16px;
    background-color: #000000;
    z-index: 2;
    width: 600px;
    height: 270px;
    
 }
/* .black_box{
    position: absolute;
    width: 600px;
    height:600px;
    background-color: black;
} */

 @keyframes rotate{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }

 }